
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body>
<div class="banner">
  Basic Angular Express API Example
</div>
<div class="center">
<div>
<span class="oldData">
  Old Data: {{oldData}}
</span><br>
<span class="newData">
  New Data: {{newData}}  
</span>

</div>
<div class="recenter">
  
<form [formGroup]="form" class="form" (submit)="sendData()">


<div class="formHeader">
  Enter Data Here to Send to Backend
</div>
<input name="data" formControlName="data" placeholder="Data" >
<button type="submit">
  Submit
</button>
</form>
</div>
</div>
<router-outlet></router-outlet>
</body>